@model ChangeRoleViewModel
@using PhotOn.Web.Models
@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var roleName = Model.RoleViewModels.SingleOrDefault(r => r.Id == Model.UserViewModel.RoleId).Name;
    var roles = Model.RoleViewModels.Where(r => r.Name != RoleName.Admin);
}
<h2>GetUser</h2>
<p>@Model.UserViewModel.Email</p>
<p>@Model.UserViewModel.UserName</p>
<p>@Model.UserViewModel.Balance</p>
@*@if (User.IsInRole(RoleName.Admin))
    {*@
@if (Model.UserViewModel.RoleName == RoleName.Admin)
{
    <p><span class="badge badge-success">You are the only one Administrator!</span></p>
}
else
{
    using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(u => u.UserViewModel.Id)
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("Role", "Role", htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
            @Html.DropDownListFor(u => u.UserViewModel.RoleId, new SelectList(roles, "Id", "Name"), htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
@* } *@