@model PhotOn.Web.ViewModels.PublicationViewModel
@{
    ViewData["Title"] = "PublicationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.PageTitle</h1>
@using (Html.BeginForm("Save", "Publications", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-row">
        <span id="output">
            @if (!Model.IsNewCreated)
            {
                <img src="@Model.ImageLink" class="img-add-publication" alt="New Part" />
            }
        </span>
    </div>
    <hr />
    <div class="form-group img-upload-car-button">
        @Html.LabelFor(m => m.Picture, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
        @Html.TextBoxFor(m => m.Picture, htmlAttributes: new { @type = "file", @class = "form-control-sm", @id = "file", @accept = "image/png" })
        @Html.ValidationMessageFor(m => m.Picture)
        <p></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Title, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
        @Html.TextBoxFor(c => c.Title, htmlAttributes: new { @class = "form-control form-control-sm" })
        @Html.ValidationMessageFor(c => c.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.TextDescription, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
        @Html.TextAreaFor(c => c.TextDescription, htmlAttributes: new { @class = "form-control form-control-sm" })
        @Html.ValidationMessageFor(c => c.TextDescription)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.coordX, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
        @Html.TextBoxFor(c => c.coordX, htmlAttributes: new { @class = "form-control form-control-sm" })
        @Html.ValidationMessageFor(c => c.coordX)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.coordY, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
        @Html.TextBoxFor(c => c.coordY, htmlAttributes: new { @class = "form-control form-control-sm" })
        @Html.ValidationMessageFor(c => c.coordY)
    </div>
    @Html.HiddenFor(c => c.Id)
    // здесь дописать скрытые поля для всех данных, что не изменяются
    @*@Html.HiddenFor(c => c.DateOfAdding)*@
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    <script>
        function clearChild() {
            var span = document.getElementById('output');
            while (span.hasChildNodes()) {
                span.removeChild(span.firstChild);
            }
        }
        function handleFileSelect(evt) {
            var file = evt.target.files; // FileList object
            var f = file[0];
            // Only process image files.
            if (!f.type.match('image.*')) {
                alert("Image only please....");
                return;
            }
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    clearChild();
                    document.getElementById('output').innerHTML = ['<img class="img-add-publication" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');
                };
            })(f);
            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
    </script>
}