<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary my-nav-bar">
            @Html.ActionLink("PhotOn", "Index", "Publications", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Index" & ViewContext.RouteData.Values["Controller"].ToString() == "Home") ? "active" : "")">
                        @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Index" & ViewContext.RouteData.Values["Controller"].ToString() == "Companies") ? "active" : "")">
                        @Html.ActionLink("Companies", "Index", "Companies", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Index" & ViewContext.RouteData.Values["Controller"].ToString() == "Products") ? "active" : "")">
                        @Html.ActionLink("Products", "Index", "Products", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Index" & ViewContext.RouteData.Values["Controller"].ToString() == "Instructions") ? "active" : "")">
                        @Html.ActionLink("Instructions", "Index", "Instructions", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Index" & ViewContext.RouteData.Values["Controller"].ToString() == "Parts") ? "active" : "")">
                        @Html.ActionLink("Parts", "Index", "Parts", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "About" & ViewContext.RouteData.Values["Controller"].ToString() == "Home") ? "active" : "")">
                        @Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Login" & ViewContext.RouteData.Values["Controller"].ToString() == "Account") ? "active" : "")">
                            @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "Register" & ViewContext.RouteData.Values["Controller"].ToString() == "Account") ? "active" : "")">
                            @Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign out", "Logout", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PhotOn.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>